.NavbarMain {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: absolute;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 15px 0px;
}

.NavbarLogoImg {
    height: 70px;
    width: auto;
}

.NavbarBurger {
    display: none;
    font-size: 26px;
    cursor: pointer;
    z-index: 1001;
}

.NavbarLinks {
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.NavbarLinks a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px 20px;
    position: relative;
}

.NavbarLinks a::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0%;
    background: black;
    transition: 0.3s;
}

.NavbarLinks a:hover::after,
.NavbarLinks a.active::after {
    width: 80%;
}

.NavbarSocial a {
    font-size: 25px;
    color: black;
}
.NavbarLinksWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
  }
  
  .NavbarLinks {
    display: flex;
    gap: 20px;
  }
  
  .NavbarSocial {
    display: flex;

    gap: 20px;
  }
  
  .NavbarLinksWrapper.open {
    transform: translateY(0%);
  }
/* ↓ Responsive */
@media (max-width: 1200px) {
    .NavbarLinksWrapper {
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      background: white;
      width: 100%;
      align-items: center;
      padding: 20px 0;
      gap: 20px;
      transform: translateY(-200%);
      transition: transform 0.3s ease;
      z-index: 999;
    }
  
    .NavbarLinks {
      flex-direction: column;
      align-items: center;
    }
  
    .NavbarLinks a {
      padding: 10px 0;
      font-size: 18px;
    }
  
    .NavbarSocial {
      margin-top: 10px;
      justify-content: center;
    }
  
    .NavbarBurger {
      display: block;
      position: absolute;
      right: 30px;
      font-size: 26px;
      cursor: pointer;
      z-index: 1001;
    }
  }