.NavbarMain {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: absolute;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 15px 0px;
}

.NavbarLogoImg {
    height: 70px;
    width: auto;
}

.NavbarBurger {
    display: none;
    font-size: 26px;
    cursor: pointer;
    z-index: 1001;
}

.NavbarLinks {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.NavbarLinks a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px 20px;
    position: relative;
}

.NavbarLinks a::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0%;
    background: black;
    transition: 0.3s;
}

.NavbarLinks a:hover::after,
.NavbarLinks a.active::after {
    width: 80%;
}

.NavbarSocial a {
    font-size: 20px;
    color: black;
}
.NavbarSocial {
    display: flex; /* <== bu satır eklendi */
    gap: 15px;
    justify-content: center;
    font-size: 20px;
    align-items: center;
}
/* ↓ Responsive */
@media (max-width: 1200px) {
    .NavbarBurger {
        display: block;
        position: absolute;
        right: 30px;
    }

    .NavbarLinks {
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        background: white;
        padding: 30px 0;
        gap: 20px;
        transform: translateY(-200%);
        transition: transform 0.3s ease;
        z-index: 1000;
    }

    .NavbarLinks a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .NavbarLinks.open {
        transform: translateY(0);
    }

    .NavbarSocial {
        display: flex;
    }
}